* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

#container {
    display: grid;
    height: 90vh;
    align-content: center;
    color: #ffffff;
}

h1 {
    text-align: center;
}

#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_form div {
    margin-bottom: 10px;
}

#login_form label {
    display: block;
    font-size: 1.2rem;
}

#login_form input {
    box-sizing: border-box;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 4px;
    text-align: center;
    background-color: #0000008b;
    color: #ffffff;
}

#login_form button {
    cursor: pointer;
    background-color: #0000008b;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 6px 75px;
    border: 1px solid #ffffff;
    border-radius: 25px;
}

#message {
    text-align: center;
    font-size: 1.2rem;
}

/* Animation */
.rotate-center {
    position: fixed;
    bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    contain: content;
    height: -webkit-fill-available;
    width: 100vw;
}

.rotate-center img {
    scale: 1.4;
    position: absolute;
    -webkit-animation: rotate-center 800s linear infinite both;
    animation: rotate-center 800s linear infinite both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}