/* /////////////////////////////////////////////////////////////////////////
/////////////////////////// --- Reset CSS --- /////////////////////////// */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*//////////////////////////////////////////////////////////////////////////////
/////////////////////////// --- Bare de scroll --- ///////////////////////////*/
.scrollbar {
    overflow-y: auto;
}
.scrollbar::-webkit-scrollbar {
    width: 20px;
    /* width of the entire scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 8px;
}

/*/////////////////////////////////////////////////////////////////////////////
/////////////////////////// --- Style par TAG --- ///////////////////////////*/
body {
    overflow: hidden;
}

/* Contient la balise <canvas> de THREE.js */
#main {
    color: #ffffff;
    /* position: absolute;
    z-index: 0;
    contain: content;
    width: 100%;
    height: 100vh; */
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 12px 30px;
}

h2{
    cursor: pointer;
    margin-bottom: 12px;
}

h3 {
    cursor: pointer;
    margin: 10px 0px;
    width: fit-content;
}

ul {
    list-style: none;
}

li {
    cursor: pointer;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 10px;
}

li:hover {
    border: 1px solid #ffffff;
}

fieldset {
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

legend {
    margin: auto;
    padding: 2px 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

/*////////////////////////////////////////////////////////////////////////////////
/////////////////////////// --- Style ancien CSS --- ///////////////////////////*/

.border {
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #0000007e;
    margin: 10px;
    padding: 10px;
}

/* #list_corps {
    position: absolute;
    z-index: +1;
    bottom: 350px;
    right: 0;
    max-height: 90vh;
    padding-right: 35px;
    overflow-y: auto;
} */

/* .btn_orbits_view {
    cursor: pointer;
    position: absolute;
    right: 0;
    height: 25px;
} */

/* Composant: Échelle des temps */
/* #time_scale {
    position: absolute;
    z-index: +1;
    bottom: 180px;
    right: 0;
    text-align: center;
} */

/* #time_scale fieldset {
    padding-right: 10px;
    border-radius: 6px;
}

#time_scale legend {
    padding: 2px 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

#time_scale input[type="range"] {
  width: 100%;
  margin: 0 6px;
}

#time_scale img {
    color: #ffffff;
    height: 30px;
    margin: 6px 8px 0px 8px;
    padding: 2px;
    border-radius: 10px;
} */

/* .active_time {
    background-color: #4c00ff6e;;
}

#time_scale img:hover {
    background: #4c00ff6e;
    color: #ffffff;
} */

/* Composant: "public/visualisation_3d/js/components/cam_position.js" */
#cam_pos {
    position: absolute;
    z-index: +1;
    bottom: 0;
    right: 0;
    text-align: center;
}

#cam_pos button {
    background: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 4px;
    margin-bottom: 4px;
}
/* 
#list_corps li {
    cursor: pointer;
    padding-left: 10px;
}

.list_corps_ul {
    list-style: none;
    contain: content;
    height: 0px;
}

.list_active {
    height: fit-content;
} */

/*////////////////////////////////////////////////////////////////////////////////////
/////////////////////////// --- Barre de navigation  --- ///////////////////////////*/

#nav_container {
    height: calc(100% - 100px);
}

#nav {    
    transition: 0.5s;
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
    left: -305px;
}
/* ---------------------------------------------------------- */
/* --- Boutton: Afficher / Masquer la barre de navigation --- */

#div_btn_nav_view {
    position: absolute;
    top: 10px;
    right: -60px;
}

#div_btn_nav_view img {
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(0deg);
}

/* ---------------------------------------------------------- */
/* ---------------- Onglet: Liste des corps ----------------- */

.tab {
    transition: 0.5s;
    contain: content;
    max-height: 350px;
    height: 0px;
}

.div_tab {
    contain: content;
    transition: 0.5s;
    background-color: #1f1f1f;
    height: 28px;
    width: 260px;
    margin: 10px auto;
    padding: 10px;
}

/* ---------------------------------------------------------- */
/* ---------------- Onglet: Échelle de temps ---------------- */

#time_range {
    width: 100%;
    margin: 5px;
}

#time_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#time_icons img {
    height: 40px;
}

#time_icons img:hover {
    background-color: #4c00ff6e;
}

.active_time {
    background-color: #4c00ff6e;;
}

/* ---------------------------------------------------------- */
/* --------------------- Onglet: Option --------------------- */

/* .btn_orbits_view {

} */


@media screen and (max-width: 530px) {


}

  