* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Bare de scroll */
.scrollbar::-webkit-scrollbar {
    width: 20px;               /* width of the entire scrollbar */
}
.scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    background: transparent;
}
  
.scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 8px;
}

body
{
    overflow: hidden;
    color: #ffffff;
}
/* Contient la balise <canvas> de THREE.js */
#main {
    contain: content;
    width: 100%;
    height: 100vh;
}

h2{
    margin-bottom: 10px;
}

h3 {
    cursor: pointer;
    margin: 10px 0px;
}

.border {
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #0000007e;
    margin: 10px;
    padding: 10px;
}

#list_corps {
    position: absolute;
    z-index: +1;
    bottom: 0;
    left: 0;
    max-height: 90vh;
    overflow-y: auto;
}

/* Composant: Échelle des temps */
#time_scale {
    position: absolute;
    z-index: +1;
    bottom: 0;
    left: 30%;
    text-align: center;
}

#time_scale fieldset {
    padding-right: 10px;
    border-radius: 6px;
}

#time_scale legend {
    padding: 2px 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

#time_scale input[type="range"] {
  width: 100%;
  margin: 0 6px;
}

#time_scale img {
    color: #ffffff;
    height: 30px;
    margin: 6px 8px 0px 8px;
    padding: 2px;
    border-radius: 10px;
}

.active_time {
    background-color: #4c00ff6e;;
}

#time_scale img:hover {
    background: #4c00ff6e;
    color: #ffffff;
}

/* Composant: "public/visualisation_3d/js/components/cam_position.js" */
#cam_pos {
    position: absolute;
    z-index: +1;
    bottom: 0;
    right: 30%;
    text-align: center;
}

#cam_pos button {
    background: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 4px;
    margin-bottom: 4px;
}

#details_corps {
    position: absolute;
    z-index: +1;
    bottom: 0;
    right: 0;
}

#list_corps li {
    cursor: pointer;
    padding-left: 10px;
}

.list_corps_ul {
    list-style: none;
    contain: content;
    height: 0px;
}

.list_active {
    height: fit-content;
}
